/* Imports Bootstrap style files */
@import url("bootstrap/bootstrap.min.css");

/* Imports compenents style files */
@import url("compenents/_navbar.css");
@import url("compenents/_footer.css");
@import url(compenents/_prestation_card.css);
@import url(compenents/_user_review.css);

/* Imports base style files */
@import url("base/_reset.css");
@import url("base/_colors.css");
@import url("base/_typography.css");

/* Imports layout style files */
@import url(layout/_button.css);
@import url(layout/_form_elements.css);



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--background);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    background-color: var(--background);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
}

img {
    border-bottom: 3px solid black;
    border-radius: 10px;
    object-fit: cover;
}