/* Imports Bootstrap style files */
@import url("bootstrap/bootstrap.min.css");

/* Imports compenents style files */
@import url("compenents/_navbar.css");
@import url("compenents/_footer.css");

/* Imports base style files */
@import url("base/_reset.css");
@import url("base/_colors.css");
@import url("base/_typography.css");

/* Imports layout style files */

/* Imports pages style files */



/* Set the body up */
body {
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 10px;
    color: var(--color-text);
}