.link {
    font-family: var(--text-font);
    font-size: calc(var(--desktop-font-size) / 1.4);
    text-decoration: solid;
    color: var(--color-text);
    width: fit-content;
}
.link:hover { text-decoration: underline; }

@media only screen and (max-width: 480px) {
    .link { font-size: calc(var(--responsive-mobile-font-size) / 1.3); }
}