:root {
    --desktop-font-size:             1.5rem;
    --responsive-mobile-font-size:   1.25rem;
    --title-font:                    "Alexandria", sans-serif;
    --text-font:                     "Afacad Flux", sans-serif;
}