.page-listing-search-bar { height: 35px; }

.page-listing-filters-button {
    width: 350px;
    font-family: var(--text-font);
}

.page-listing-search-bar {
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--color-text);
    font-family: var(--text-font);
    background: var(--color-secondary-30);
    outline: none;
}

.page-listing-selection-container {
    height: auto;
    background: var(--color-secondary-30);
    border-radius: 15px;
    padding: 5px;
}

.page-listing-counter {
    height: 50px;
    width: 120px;
    background: var(--color-main-a-60);
    color: var(--color-text);
    border-radius: 15px;
}

.page-listing-selection-container .button {
    width: 60px;
}

@media (max-width: 768px) {
    .page-listing-filters-button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .page-listing-counter {
        height: 40px;
        width: 70px;
        font-size: var(--responsive-mobile-font-size);
    }
}