.page-prestations-booked-selection-container {
    background: var(--color-secondary-30);
    border-radius: 15px;
}

.page-prestations-booked-counter {
    height: 50px;
    width: 120px;
    background: var(--color-main-a-60);
    color: var(--color-text);
    border-radius: 15px;
}

.page-prestations-booked-selection-container .button {
    width: 60px;
}

@media (max-width: 576px) {
    .page-prestations-booked-counter {
        height: 40px;
        width: 70px;
        font-size: var(--responsive-mobile-font-size);
    }
}