.container { gap: 15px; }

.profile-user-image {
    height: 200px;
    aspect-ratio: 1 / 1;
}

.links-container {
    background: var(--color-secondary-30);
    border-radius: 15px;
    box-sizing: border-box;

    flex-wrap: nowrap !important; /* Forces items onto one line */
    overflow-x: auto !important;
    overflow-y: hidden !important;
    overscroll-behavior-x: contain;
}