.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.feature-card {
    background: pink;
    border-radius: 0px;
    padding: 20px;
    box-shadow:
        0 2px 8px,
        rgba(0, 0, 0, 0.5);
}
