.navbar {
    background-color: var(--color-secondary-30);
    border-bottom: 5px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100px;
}

.navbar-responsive-separation-line {
    background: black;
    height: 2px;
    border-radius: 15px;
}

.navbar-logo {
    object-fit: contain;
}

.navbar-action-button {
    font-size: calc(var(--desktop-font-size) * 1.15);
    aspect-ratio: 1;
    border-radius: 15px;
    transition: all 0.65s ease-in;
    color: var(--color-text);
    text-decoration: none;
}
.navbar-action-button:hover {
    background: var(--color-c2a-a);
    color: var(--color-c2a-b);
    transition: all 0.0s;
}

@media (max-width: 576px) {
    .navbar {
        border-bottom: 3px solid black;
        height: auto;
    }
    .navbar-logo {
        width: auto !important;
        height: 60px !important;
    }
    .navbar-action-button {
        padding-left: 10px;
        text-align: left;
        height: calc(var(--responsive-mobile-font-size) * 1.8);
        line-height: calc(var(--responsive-mobile-font-size) * 1.8);
        font-weight: normal;
        font-size: var(--responsive-mobile-font-size);
    }
    .navbar-desktop-actions-menu { display: none !important; }
    .navbar-burger-menu { display: flex !important; }
}