.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-30);
    padding: 10px;
    width: 100%;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-responsive-separation-line {
    background: black;
    height: 3px;
    border-radius: 15px;
}

.navbar-logo {
    width: 80px;
    height: 80px;
}

.navbar-desktop-actions-menu {
    display: flex;
    flex-direction: row;
    width: calc(60px * 3);
}
.navbar-action-button {
    display: block;
    text-align: center;
    line-height: calc(var(--desktop-font-size) * 2.5);
    width: 100%;
    height: calc(var(--desktop-font-size) * 2.5);
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--desktop-font-size);
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.65s ease-in;
}
.navbar-action-button:hover {
    background: var(--color-c2a-a);
    color: var(--color-c2a-b);
    transition: all 0.0s;
}

.navbar-burger-menu-popup-button {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--responsive-mobile-font-size) * 2.5);
    line-height: calc(var(--responsive-mobile-font-size) * 2.5);
    width: calc(var(--responsive-mobile-font-size) * 2.5);
    height: calc(var(--responsive-mobile-font-size) * 2.5);
}

.navbar-burger-menu {
    display: none !important;
    height: auto;
    width: 100%;
    padding: 5px;
    gap: 5px;
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: 0px;
        border-bottom: 3px solid black;
    }
    .navbar-logo {
        width: 45px;
        height: 45px;
    }
    .navbar-action-button {
        padding-left: 10px;
        text-align: left;
        height: calc(var(--responsive-mobile-font-size) * 2.0);
        line-height: calc(var(--responsive-mobile-font-size) * 2.0);
        font-weight: normal;
        font-size: var(--responsive-mobile-font-size);
    }
    .navbar-desktop-actions-menu { display: none !important; }
    .navbar-burger-menu-popup-button {
        display: flex;
        padding-left: 0px;
    }
    .navbar-burger-menu { display: flex !important; }
}