.prestation-card {
    cursor: default;
    display: block;
    transition: all 0.75s;
    background: var(--color-c2a-b);
    height: 150px;
    width: auto;
    border-radius: 15px;
    border-bottom: 2px solid black;
    a { width: 200px; }
}
.prestation-card:hover {
    cursor: pointer;
    background: var(--color-secondary-30);
    transition: all 0.5s;
    .link {
        color: var(--color-text) !important;
        transition: color 0.5s;
    }
}

.prestation-card-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    transition: width 0.5s;
}

.prestation-card .link {
    color: var(--color-c2a-a) !important;
    text-decoration: underline !important;
    font-size: calc(var(--desktop-font-size) - 0.4rem) !important;
}

.prestation-card-title {
    font-family: var(--title-font);
    font-size: calc(var(--desktop-font-size) + 0.5rem);
    line-height: calc(var(--desktop-font-size) + 0.5rem);
    font-weight: bold;
}

.prestation-card-info-text {
    font-family: var(--text-font);
    font-size: calc(var(--desktop-font-size) - 0.4rem);
}

.prestation-card-buttons {
    padding-right: 45px;
}

@media (max-width: 768px) {
    .prestation-card-image { display: none; }
    .prestation-card .link { font-size: calc(var(--desktop-font-size) - 0.5rem) !important; }
    .prestation-card-info-text { font-size: calc(var(--desktop-font-size) - 0.5rem); }
    .prestation-card-title {
        font-size: var(--desktop-font-size);
        line-height: var(--desktop-font-size);
    }
}

@media (max-width: 576px) {
    .prestation-card { height: fit-content; }
    .prestation-card-buttons { display: none !important; }

    .prestation-card .link { font-size: calc(var(--responsive-mobile-font-size) - 0.4rem) !important; }
    .prestation-card-title {
        font-size: var(--responsive-mobile-font-size);
        line-height: var(--responsive-mobile-font-size);
    }
    .prestation-card-info-text { font-size: calc(var(--responsive-mobile-font-size) - 0.4rem); }
    #prestation-card-price-info { display: none; }
}